astroid==2.1.0
autopep8==1.4.3
colorama==0.4.1
Django==1.9.8
django-cors-headers==2.4.0
isort==4.3.4
lazy-object-proxy==1.3.1
mccabe==0.6.1
pycodestyle==2.5.0
pylint==2.2.2
pylint-django==2.0.5
pylint-plugin-utils==0.4
PyMySQL==0.9.3
six==1.12.0
typed-ast==1.3.1
wrapt==1.11.1
